.main{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.main{
    width: 80%;
    text-align: center;
    margin: auto;
    border: 2px solid black;
    
    height: 75vh;
    background: url('https://media.istockphoto.com/vectors/vector-realistic-isolated-green-poker-table-for-decoration-vector-id1299608766?k=20&m=1299608766&s=612x612&w=0&h=ZwlBIc1B5noT2uVZG9yighu1FLc5NoeWrk3KloKsdKM=')center;
    color: #fff;
}

.diplay-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid black;
    height: 400px;
    padding: 5px;

}

.your-display{
    border: 1px solid black;
    
   
    flex: 1;
    
}
.bot-display{
    flex: 1;
    border: 1px solid black;
}

.button-div{
    display: flex;
    justify-content: center;
    padding: 30px;
    border: 1px solid black;
    

}

.button-div button{
    border: none;
}

.score-div{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.score-div table, td, th{
    border: 1px solid black;
    padding: 5px;
}